.layouts {
    height: 100vh;

    .layouts_wrap {
        height: 100%;
        .sider{
            .logo{
                height: 64px;
                background-color: rgb(154, 154, 154);
            }
        }
        .right{
            .header{
                background-color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .out{
                    cursor: pointer;
                }
            }
            .content{
                background-color: rgb(203, 203, 204);
                padding: 10px;
                max-height: 100%;
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 1px;
                    height: 1px;
                    /**/
                }

                &::-webkit-scrollbar-track {
                    background: rgb(239, 239, 239);
                    border-radius: 2px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #bfbfbf;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #333;
                }

                &::-webkit-scrollbar-corner {
                    background: rgb(239, 239, 239);
                }
            }
            .footer{
                text-align: center;
                background-color: #fff;
            }
        }
    }
}