@font-face {
    font-family: 'MyFont';
    src: url('./assets/my-font.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./assets/icon.png');
    font-family: 'MyFont';
}